<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'attentions' %>
    <%= yield :stylesheet %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_tag "var authenticity_token = '#{form_authenticity_token}';" %>
    <%#= javascript_include_tag 'attentions' %>
    <%#= javascript_include_tag 'jquery.blockUI' %>
    <%= yield :javascript %>
  </head>
  <body onload="<%= yield :onload %>">

    <%= show_logo_bar %>
    <%= show_user_info( @user ) %>
    <%= generate_home_tool_bar %>
    
    <%
        tabs_class = 'ctrl-button'
        tabs_active_class = tabs_class + ' active'
    %>

    <div class="attentions-container">
        <div class="attentions-frame">
            <div class="attentions-tabs">
                <%= generate_tabs :tabs => [ 
                                                {:title => '我关注的人', :action => :mine}, 
                                                {:title => '我的粉丝', :action => :fans}, 
                                                {:title => '相互关注', :action => :all} 
                                           ],
                                  :link_class => 'ctrl-button',
                                  :link_active_class => 'active'
                %>
            </div>
            <%= yield :layout %>
        </div>
    </div>
    
    <!--<div class="attentions-operations-box">
        <%= link_to '取消关注', 'javascript:void(0)' %>
    </div>-->
    </body>
</html>
